@font-face {
  font-family: "Cursed Timer";
  src: url("assets/CursedTimerUlil-Aznm.ttf") format("truetype");
}

body {
  margin: 0;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: #1b244a;
  width: 50%;
  margin: auto auto;
  height: 50%;
}
h3 {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px 0 0 0;
}
.score {
  background-color: black;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}
.score span {
  font-size: 5rem;
  color: #f94f6d;
  font-family: "Cursed Timer", sans-serif;
}
.operations span {
  color: #9aabd8;
  border: 1px solid #9aabd8;
  padding: 4px 6px;
  border-radius: 2px;
}
.operations {
  display: flex;
  justify-content: space-evenly;
}
